accessible-pygments==0.0.5
aeidon==1.15
alabaster==1.0.0
appdirs==1.4.4
apsw==3.45.1.0
argcomplete==3.5.3
asn1crypto==1.5.1
Authlib==1.3.1
autocommand==2.2.2
babel==2.17.0
beautifulsoup4==4.12.3
blivet==3.10.0
blivet-gui==2.6.0
bodhi-client==8.3.0
boto3==1.37.3
botocore==1.37.3
Brlapi==0.8.5
Brotli==1.1.0
cached-property==1.5.2
cairocffi==1.6.1
CairoSVG==2.7.0
certifi==2023.5.7
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cheroot==10.0.0
CherryPy==18.9.0
click==8.1.7
coloredlogs==15.0.1
construct==2.10.70
coverage==7.3.2
cryptography==41.0.7
cson==0.8
css-parser==1.0.7
cssselect==1.1.0
cssselect2==0.7.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
diff-match-patch==20230430
distro==1.9.0
dnf==4.22.0
dnspython==2.6.1
docutils==0.20.1
ecdsa==0.18.0
fb-re2==1.0.7
feedparser==6.0.11
file-magic==0.4.0
fros==1.1
gpg==1.23.2
gssapi==1.7.3
html2text==2024.2.25
html5-parser==0.4.12
html5lib==1.1
humanfriendly==10.0
humanize==3.13.1
idna==3.7
ifaddr==0.1.7
imagesize==1.4.1
img2pdf==0.5.1
importlib-metadata==6.9.0
inflect==2.1.0
iniparse==0.5
initial-setup==0.3.100
inkex==1.4.0
IPy==1.1
iso639==0.1.4
jaraco.classes==3.3.0
jaraco.collections==3.0.0
jaraco.context==5.3.0
jaraco.functools==4.0.0
jaraco.text==3.12.0
javapackages==6.2.0
jeepney==0.8.0
Jinja2==3.1.5
jmespath==1.0.1
kerberos==1.3.0
kitchen==1.2.6
koji==1.35.1
krb5==0.5.1
langtable==0.0.68
Levenshtein==0.23.0
libcomps==0.1.20
libdnf==0.73.4
lightdm-gtk-greeter-settings==1.2.2
lockfile==0.12.2
louis==3.28.0
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdit-py-plugins==0.4.2
mdurl==0.1.2
mechanize==0.4.8
mercurial==6.7.4
more-itertools==10.1.0
msgpack==1.0.6
munch==2.5.0
mutagen==1.47.0
myst-parser==4.0.1
netifaces==0.11.0
nftables==0.1
ntplib==0.3.3
numpy==1.26.4
ocrmypdf==15.4.3
odfpy==1.4.1
olefile==0.47
openidc-client==0.7.0
ordered-set==4.1.0
packaging==23.2
pdfarranger==1.11.0
pdfminer.six==20240706
pdfrw==0.4
pexpect==4.9.0
phply==1.2.5
pid==2.2.3
pikepdf==8.8.0
pillow==10.3.0
pluggy==1.3.0
ply==3.11
portend==3.2.0
powerline-status==2.8.4
productmd==1.43
psutil==5.9.8
ptyprocess==0.7.0
pwquality==1.4.5
pyalsa==1.2.12
pyasn1==0.6.0
pybeam==0.8
pycairo==1.25.1
pychm==0.8.6
pycountry==24.6.1
pycparser==2.20
pycryptodomex==3.21.0
pycups==2.0.4
pycurl==7.45.2
pydata-sphinx-theme==0.16.1
pydbus==0.6.0
pyenchant==3.2.2
pygame==2.6.1
pygdbmi==0.11.0.0
pygit2==1.14.0
Pygments==2.17.2
PyGObject==3.48.2
pyinotify==0.9.6
PyIscsi==1.0
pykickstart==3.52
pyOpenSSL==23.2.0
pyparsing==3.1.2
pyparted==3.13.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
pyserial==3.5
PySocks==1.7.1
pyspnego==0.10.2
pystray==0.17.3
python-augeas==1.1.0
python-dateutil==2.8.2
python-dmidecode==3.12.2
python-fedora==1.1.1
python-gettext==4.0
python-manatools==0.0.4
python-meh==0.51
python-pam==2.0.2
python-vlc==3.0.20123
python-xlib==0.33
pytz==2025.1
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
rapidfuzz==3.5.2
rednotebook==2.35
regex==2024.9.11
reportlab==4.3.1
requests==2.31.0
requests-file==2.0.0
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-kerberos==0.14.0
rich==13.7.0
roman-numerals-py==3.1.0
rpm==4.19.1.1
rpmconf==1.1.10
rpmlint==2.5.0
rst2pdf==0.101
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
ruffus==2.8.4
s3transfer==0.11.3
scour==0.38.2
sentry-sdk==2.17.0
setools==4.5.1
setproctitle==1.2.3
setuptools==69.0.3
sgmllib3k==1.0.0
simpleaudio==1.0.4
simplejson==3.19.2
simpleline==1.9.0
six==1.16.0
smartcols==0.3.0
smartypants==2.0.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sos==4.7.2
soupsieve==2.5
speg==0.3
Sphinx==8.2.3
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-svg2pdfconverter==1.3.0
sphinxemoji==0.3.1
SSSDConfig==2.9.6
systemd-python==235
tempora==5.5.0
tinycss2==1.2.1
toml==0.10.2
tomli_w==1.0.0
tqdm==4.67.1
translate-toolkit==3.13.3
trustme==1.1.0
typing_extensions==4.12.2
ufw==0.35
urlgrabber==4.1.0
urllib3==1.26.20
vobject==0.9.8
wcwidth==0.2.13
webencodings==0.5.1
websockets==12.0
wrapt==1.17.1
xcffib==1.5.0
xkbregistry==0.3
xlrd==2.0.1
yt-dlp==2025.2.19
zc.lockfile==3.0.post1
zeroconf==0.118.0
zipp==3.17.0
zombie-imp==0.0.2
zstandard==0.22.0
zstd==1.5.5.1
